/**
 * @file
 * Panels Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/social-link-icons\/\*\.png}line{font-family:\0000398}}
.social-link-icons-sprite {
  background: url('../images/social-link-icons-sa0e1f4b582.png') no-repeat;
}

@font-face {
  font-family: "ucberkeleyos";
  src: url('../fonts/ucberkeleyos.woff') format('woff'), url('../fonts/ucberkeleyos.eot') format('embedded-opentype'), url('../fonts/ucberkeleyos.ttf') format('truetype'), url('../fonts/ucberkeleyos.svg') format('svg');
}

@font-face {
  font-family: "ucberkeleyosbold";
  src: url('../fonts/ucberkeleyosbold.woff') format('woff'), url('../fonts/ucberkeleyosbold.eot') format('embedded-opentype'), url('../fonts/ucberkeleyosbold.ttf') format('truetype'), url('../fonts/ucberkeleyosbold.svg') format('svg');
}

/* Fieldable Panel Panes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\000039}}
.fieldable-panels-pane {
  overflow: hidden;
  padding: 10px 10px 20px 8px;
}

/* Pane Content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000316}}
.pane-content h2 {
  color: #003461;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000321}}
.pane-content a:link,
.pane-content a:visited {
  color: #0066a0;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000327}}
.pane-content .field-type-text-with-summary
ul:first-child {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000329}}
.pane-content .field-type-text-with-summary
ul:first-child li {
  list-style: inside;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000332}}
.pane-content .field-type-text-with-summary
ul:first-child li.markItUpButton {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000338}}
.pane-content .media-widget .preview {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000343}}
.pane-content .media-thumbnail img {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000349}}
.pane-content #edit-field-featured-image {
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000352}}
.pane-content #edit-field-featured-image .media-item {
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000355}}
.pane-content #edit-field-featured-image .media-item img {
  padding: 0;
}

/*
 * Panopoly Overrides
 */
/* #menu-block-settings in panopoly_magic.css messes up admin/structure/block/add-menu-block
 * Restore default and set for #modal-content only *
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000369}}
#menu-block-settings {
  float: none;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000374}}
#modal-content #menu-block-settings {
  float: left;
  width: 48%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000379}}
#modal-content .widget-preview-single {
  width: 45%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000384}}
.pane-content .panopoly-image-half {
  float: left;
  margin-right: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000391}}
.pane-theme .admin-theme-image,
.pane-apps .admin-apps-image {
  padding-right: 1em;
}

/* Panel Styles - General */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\0000397}}
.panel-pane h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #003461;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003102}}
.panel-pane h2 a:link,
.panel-pane h2 a:visited {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003106}}
.panel-pane h2 a:hover,
.panel-pane h2 a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003114}}
.pane-content .view a:link,
.pane-content .view a:visited {
  text-decoration: none;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003119}}
.pane-content .view a:hover,
.pane-content .view a:focus {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003124}}
.pane-content .view-header h2 {
  margin: 0;
}

/* Panel Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003134}}
.panels-dashboard,
.page-admin-build-panels,
.page-admin-build-panels-dashboard #content-area {
  min-height: 50em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003137}}
.panel-pane {
  border: 1px solid #d4d4d4;
  margin: 20px 0px 0px 0px;
  padding: 8px 14px 10px;
  background: white url("../images/ltgrey_gradient_1x300.png") repeat-x left top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003143}}
.pane-quicktabs-2 {
  margin: 0;
  padding: 0;
  border: none !important;
  background: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003149}}
.panels-flexible-row {
  margin: 0;
  padding: 0;
}

/* Panels and Quick Tabs */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/panels-styles\.scss}line{font-family:\00003155}}
ul.quicktabs-tabs.quicktabs-style-zen li {
  margin: 0;
}
