/**
 * @file
 * Additional Styling
 *
 * Add custom styles here
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/social-link-icons\/\*\.png}line{font-family:\0000398}}
.social-link-icons-sprite {
  background: url('../images/social-link-icons-sa0e1f4b582.png') no-repeat;
}

@font-face {
  font-family: "ucberkeleyos";
  src: url('../fonts/ucberkeleyos.woff') format('woff'), url('../fonts/ucberkeleyos.eot') format('embedded-opentype'), url('../fonts/ucberkeleyos.ttf') format('truetype'), url('../fonts/ucberkeleyos.svg') format('svg');
}

@font-face {
  font-family: "ucberkeleyosbold";
  src: url('../fonts/ucberkeleyosbold.woff') format('woff'), url('../fonts/ucberkeleyosbold.eot') format('embedded-opentype'), url('../fonts/ucberkeleyosbold.ttf') format('truetype'), url('../fonts/ucberkeleyosbold.svg') format('svg');
}

/* NOTE: THESE STYLES ARE FOR VCAF WEB AND WILL EVENTUALLY BE REMOVED IN THE VERSION COMMITTED TO GITHUB */
/* Also, comment out this stylesheet in .info file if not committing to github version */
/* Custom Styles for VCAF Website */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000316}}
.view-vc-blog .views-field-created {
  color: #003461;
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000322}}
.view-vc-blog .views-field-title {
  font-size: 1.3em;
  padding: 5px 0;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000328}}
.view-vc-blog .views-field-title a:link, .view-vc-blog .views-field-title a:visited {
  color: #003461;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000334}}
.pane-uuid-75a2a823-aaa9-0594-45f5-a42bd62fefd7 {
  margin: 0;
  padding: 0 25px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000338}}
.pane-uuid-75a2a823-aaa9-0594-45f5-a42bd62fefd7 .fieldable-panels-pane {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000340}}
.pane-uuid-75a2a823-aaa9-0594-45f5-a42bd62fefd7 .fieldable-panels-pane p {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000347}}
.node-25 tbody {
  border: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000350}}
.node-25 th, .node-25 td {
  padding-left: 10px;
  font-size: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000355}}
.node-25 th a:link,
.node-25 th a:visited, .node-25 td a:link, .node-25 td a:visited {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000359}}
.node-25 tr.tr-odd {
  background: #eaeae8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000367}}
.lt-ie9 .node-25 td img {
  max-width: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000377}}
.pane-content .view-id-view_change_agenda a:link,
.pane-content .view-id-view_change_agenda a:visited {
  text-decoration: none;
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/klu\/github\/berkeley-7\.x\/sass\/styles\.scss}line{font-family:\0000382}}
.pane-content .view-id-view_change_agenda a:hover,
.pane-content .view-id-view_change_agenda a:focus {
  text-decoration: underline;
}
