/**
 * @file
 * Additional Styling
 *
 * Add custom styles here
 */

@import "base";

/* NOTE: THESE STYLES ARE FOR VCAF WEB AND WILL EVENTUALLY BE REMOVED IN THE VERSION COMMITTED TO GITHUB */
/* Also, comment out this stylesheet in .info file if not committing to github version */

/* Custom Styles for VCAF Website */

.view-vc-blog {
  .views-field-created {
    color: $berkeley-dark-blue;
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
  }
  .views-field-title {
    font-size: 1.3em;
    padding: 5px 0;
    border-bottom: $border-solid-med-grey;
    border-top: $border-solid-med-grey;

    a:link, a:visited {
      color: $berkeley-dark-blue;;
    }
  }
}

.pane-uuid-75a2a823-aaa9-0594-45f5-a42bd62fefd7 {
  margin: 0;
  padding: 0 25px 0;

  .fieldable-panels-pane {
    padding: 0;
    p {
      margin: 0;
    }
  }
}

.node-25 {
  tbody {
    border: $border-solid-med-grey;
  }
  th, td {
    padding-left: 10px;
    font-size: 1.2em;

    a:link,
    a:visited {
      text-decoration: none;
    }
  }
  tr.tr-odd {
    background: $berkeley-pale-grey;
  }
}

.lt-ie9 {
  .node-25 {
    td {
      img {
        max-width: none;
      }
    }
  }
}

.pane-content {
  .view-id-view_change_agenda {
    a:link,
    a:visited {
      text-decoration: none;
      font-size: 1em;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }
}









